body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.add-inputs  {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.add-inputs form {
  display: flex;
  width: 320px;
  flex-direction: column;
}

/* 
.add-inputs form input {
  width: 70%;
} */